<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:if value="${ADD_LEGS}">

        <gazebo reference="imu_link">
            <sensor name="imu_link" type="imu">
                <always_on>1</always_on>
                <update_rate>500</update_rate>
                <visualize>true</visualize>
                <topic>__default_topic__</topic>
                <imu>

                    <!--
                <noise>
                <type>gaussian</type>
                <rate>
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                    <bias_mean>0.0000075</bias_mean>
                    <bias_stddev>0.0000008</bias_stddev>
                </rate>
                <accel>
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                    <bias_mean>0.1</bias_mean>
                    <bias_stddev>0.001</bias_stddev>
                </accel>
                </noise>
                -->
                </imu>
            </sensor>
        </gazebo>

        <gazebo reference="hip_roll_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

        <gazebo reference="hip_roll_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

        <gazebo reference="hip_roll_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

        <gazebo reference="hip_roll_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        
        <gazebo reference="knee_pitch_1_link">
        	<kp>10000000.0</kp>
			<kd>1000.0</kd>
			<mu1>1</mu1>
			<mu2>1</mu2>
			<maxVel>1.0</maxVel>
			<maxContacts>1</maxContacts>
		</gazebo>
		
		<gazebo reference="knee_pitch_2_link">
        	<kp>10000000.0</kp>
			<kd>1000.0</kd>
			<mu1>1</mu1>
			<mu2>1</mu2>
			<maxVel>1.0</maxVel>
			<maxContacts>1</maxContacts>
		</gazebo>
		
		<gazebo reference="knee_pitch_3_link">
        	<kp>10000000.0</kp>
			<kd>1000.0</kd>
			<mu1>1</mu1>
			<mu2>1</mu2>
			<maxVel>1.0</maxVel>
			<maxContacts>1</maxContacts>
		</gazebo>
		
		<gazebo reference="knee_pitch_4_link">
        	<kp>10000000.0</kp>
			<kd>1000.0</kd>
			<mu1>1</mu1>
			<mu2>1</mu2>
			<maxVel>1.0</maxVel>
			<maxContacts>1</maxContacts>
		</gazebo>

    </xacro:if>

    <xacro:if value="${ADD_UPPER_BODY}">
        <gazebo reference="shoulder_yaw_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="shoulder_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="elbow_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="wrist_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="wrist_yaw_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>




        <gazebo reference="shoulder_yaw_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="shoulder_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="elbow_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="wrist_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="wrist_yaw_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

    </xacro:if>
    
    <xacro:if value="${ADD_WHEELS}">
        <gazebo reference="wheel_1">
            <kp>1000000.0</kp>
			<kd>100.0</kd>
			<mu1>1.0</mu1>
			<mu2>1.0</mu2>
			<maxVel>1.0</maxVel>
			<maxContacts>1</maxContacts>
	    </gazebo>
	    
	    <gazebo reference="wheel_2">
            <kp>1000000.0</kp>
			<kd>100.0</kd>
			<mu1>1.0</mu1>
			<mu2>1.0</mu2>
			<maxVel>1.0</maxVel>
			<maxContacts>1</maxContacts>
	    </gazebo>
	    
	    <gazebo reference="wheel_3">
            <kp>1000000.0</kp>
			<kd>100.0</kd>
			<mu1>1.0</mu1>
			<mu2>1.0</mu2>
			<maxVel>1.0</maxVel>
			<maxContacts>1</maxContacts>
	    </gazebo>
	    
	    <gazebo reference="wheel_4">
            <kp>1000000.0</kp>
			<kd>100.0</kd>
			<mu1>1.0</mu1>
			<mu2>1.0</mu2>
			<maxVel>1.0</maxVel>
			<maxContacts>1</maxContacts>
	    </gazebo>
	</xacro:if>


	<xacro:if value="${ADD_FT_SENSORS}">

		<xacro:include filename="$(find kyon_urdf)/urdf/gazebo/ft_sensors.gazebo.xacro" />

		<xacro:kyon_ft_sensor frame_id="knee_pitch_1"/>
		<xacro:kyon_ft_sensor frame_id="knee_pitch_2"/>
		<xacro:kyon_ft_sensor frame_id="knee_pitch_3"/>
		<xacro:kyon_ft_sensor frame_id="knee_pitch_4"/>

	</xacro:if>

</robot>
