<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


<xacro:macro name="kyon_leg_materials" params="leg_num">

	<gazebo reference="hip_roll_${leg_num}_link">
		<material>Gazebo/Grey</material>
	</gazebo>
	<gazebo reference="hip_pitch_${leg_num}_link">
		<material>Gazebo/SkyBlue</material>
	</gazebo>
	<gazebo reference="knee_pitch_${leg_num}_link">
		<material>Gazebo/Grey</material>
	</gazebo>

</xacro:macro>

<xacro:macro name="kyon_arm_materials" params="arm_num">

	<gazebo reference="shoulder_yaw_${arm_num}_link">
		<material>Gazebo/Grey</material>
	</gazebo>
	<gazebo reference="shoulder_pitch_${arm_num}_link">
		<material>Gazebo/SkyBlue</material>
	</gazebo>
	<gazebo reference="elbow_pitch_${arm_num}_link">
		<material>Gazebo/Grey</material>
	</gazebo>
	<gazebo reference="wrist_pitch_${arm_num}_link">
		<material>Gazebo/SkyBlue</material>
	</gazebo>
	<gazebo reference="wrist_yaw_${arm_num}_link">
		<material>Gazebo/SkyBlue</material>
	</gazebo>
	<gazebo reference="dagana_${arm_num}_base">
		<material>Gazebo/Grey</material>
	</gazebo>
	<gazebo reference="dagana_${arm_num}_claw">
		<material>Gazebo/Grey</material>
	</gazebo>

</xacro:macro>



<gazebo reference="pelvis">
	<material>Gazebo/SkyBlue</material>
</gazebo>

<xacro:if value="${ADD_LEGS}">

	<xacro:kyon_leg_materials leg_num="1"/>
	<xacro:kyon_leg_materials leg_num="2"/>
	<xacro:kyon_leg_materials leg_num="3"/>
	<xacro:kyon_leg_materials leg_num="4"/>

	
</xacro:if>

<xacro:if value="${ADD_UPPER_BODY}">

	<xacro:kyon_arm_materials arm_num="1"/>
	<xacro:kyon_arm_materials arm_num="2"/>

</xacro:if>

<xacro:if value="${ADD_WHEELS}"/>
    <gazebo reference="wheel_1">
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="wheel_2">
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="wheel_3">
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="wheel_4">
        <material>Gazebo/DarkGrey</material>
    </gazebo>



</robot>
