<launch>

  <arg name="world" default="$(find kyon_mujoco)/config/world.xml"/>
  <arg name="simopt" default="$(find kyon_mujoco)/config/options.xml"/>
  <arg name="sites" default="$(find kyon_mujoco)/config/sites.xml"/>
  <arg name="ctrlcfg" default="$(find kyon_mujoco)/config/kyon.yaml"/>
  <arg name="urdf" default="$(find kyon_urdf)/urdf/kyon.urdf.xacro"/>
  <arg name="srdf" default="$(find kyon_srdf)/srdf/kyon.srdf.xacro"/>

   <!-- kyon configuration parameters -->
  <arg name="arms" default="false"/>
  <arg name="legs" default="true"/>
  <arg name="sensors" default="false"/>
  <arg name="payload" default="false"/>
  <arg name="dagana" default="false"/>
  <arg name="wheels" default="false"/>
  <arg name="ft_sensors" default="false"/>

  <param name="robot_description"
         command="$(find xacro)/xacro $(arg urdf) floating_joint:=true upper_body:=$(arg arms) legs:=$(arg legs) sensors:=$(arg sensors) payload:=$(arg payload) dagana:=$(arg dagana) wheels:=$(arg wheels) ft_sensors:=$(arg ft_sensors)"/>

    <param name="robot_description_semantic"
         command="$(find xacro)/xacro $(arg srdf) floating_joint:=true upper_body:=$(arg arms) legs:=$(arg legs) sensors:=$(arg sensors) payload:=$(arg payload) dagana:=$(arg dagana) wheels:=$(arg wheels) ft_sensors:=$(arg ft_sensors)"/>
  
  <node pkg="kyon_mujoco" type="simulator_wrapper.bash" name="kyon_mujoco"
    args="--name kyon --urdf-command 'rosparam get -p /robot_description' --world $(arg world) --simopt $(arg simopt) --ctrlcfg $(arg ctrlcfg) --sites $(arg sites)"/>

</launch>
