<!--<?xml version="1.0"?>-->
<robot  xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Legs -->
<xacro:property name="hip_roll_lower" value="${[-2.030,-2.510, -2.510 ,-2.030]}"/>
<xacro:property name="hip_roll_upper" value="${[ 2.510, 2.030,  2.030 , 2.510]}"/>
<xacro:property name="hip_pitch_lower" value="${[-2.4056, -2.3266, -2.4696, -2.3426]}"/>
<xacro:property name="hip_pitch_upper" value="${[2.4056, 2.3266, 2.4696, 2.3426]}"/>
<xacro:property name="knee_pitch_lower" value="${[-3.4056, -3.3266, -3.4696, -3.3426]}"/>
<xacro:property name="knee_pitch_upper" value="${[3.4056, 3.3266, 3.4696, 3.3426]}"/>

<!-- Arms -->
<xacro:property name="j_shoulder_yaw_lower" value="${[-3.312, -3.3458]}"/>
<xacro:property name="j_shoulder_yaw_upper" value="${[3.312, 3.3458]}"/>
<xacro:property name="j_pitch_1_lower" value="${[-3, -3]}"/>
<xacro:property name="j_pitch_1_upper" value="${[3, 3]}"/>
<xacro:property name="j_pitch_2_lower" value="${[-2.4056, -2.3266, -2.4696, -2.3426]}"/>
<xacro:property name="j_pitch_2_upper" value="${[2.4056, 2.3266, 2.4696, 2.3426]}"/>

<xacro:property name="j_shoulder_velocity" value="${[3.86, 3.86 ]}"/>
<xacro:property name="j_pitch_1_velocity" value="${[3.86, 3.86 ]}"/>
<xacro:property name="j_pitch_2_velocity" value="${[3.86, 3.86 ]}"/>

<xacro:property name="j_shoulder_torque" value="${[147.00, 147.00 ]}"/>
<xacro:property name="j_pitch_1_torque" value="${[147.00, 147.00 ]}"/>
<xacro:property name="j_pitch_2_torque" value="${[147.00, 147.00 ]}"/>

<!-- Dagana -->
<xacro:property name="dagana_lower" value="${[-3.4056, -3.3266]}"/>
<xacro:property name="dagana_upper" value="${[3.4056, 3.3266]}"/>

<!-- Motor velocities -->
<xacro:property name="motorA_velocity" value="7.6"/>
<xacro:property name="motorB_velocity" value="3.8"/>
<xacro:property name="motorC_velocity" value="4.6"/>
<xacro:property name="motorD_velocity" value="14"/>
<xacro:property name="motorWheel_velocity" value="20"/>


<!-- Motor effort -->
<xacro:property name="motorA_effort" value="185"/>
<xacro:property name="motorB_effort" value="146"/>
<xacro:property name="motorC_effort" value="122"/>
<xacro:property name="motorD_effort" value="25"/>
<xacro:property name="motorWheel_effort" value="100"/>

</robot>
