<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kyon">

<xacro:property name="model_name" value="kyon" />
<xacro:property name="model_version" value="0.1" />


<!-- command line arguments -->
<xacro:arg name="legs" default="true"/>
<xacro:arg name="upper_body" default="true"/>
<xacro:arg name="dagana" default="true"/>
<xacro:arg name="feet" default="true"/>
<xacro:arg name="wheels" default="false"/>
<xacro:arg name="floating_joint" default="true"/>
<xacro:arg name="sensors" default="false"/>
<xacro:arg name="payload" default="false"/>
<xacro:arg name="steering_wheels" default="false"/>
<xacro:arg name="ft_sensors" default="true"/>


<!-- ************SELECT PARTS*************-->
<!-- *************************************-->
<xacro:property name="ADD_LEGS" value="$(arg legs)" />
<xacro:property name="ADD_UPPER_BODY" value="$(arg upper_body)" />
<xacro:property name="ADD_SENSORS" value="$(arg sensors)" />
<xacro:property name="ADD_DAGANA" value="$(arg dagana)"/>
<xacro:property name="ADD_FEET" value="$(arg feet)"/>
<xacro:property name="ADD_WHEELS" value="$(arg wheels)"/>
<xacro:property name="ADD_STEERING_WHEELS" value="$(arg steering_wheels)"/>
<xacro:property name="ADD_FT_SENSORS" value="$(arg ft_sensors)"/>

<xacro:property name="ADD_FLOATING_BASE" value="$(arg floating_joint)" />
<xacro:property name="ADD_VIRTUAL_FRAME" value="false" />
<xacro:property name="PAYLOAD" value="$(arg payload)"/>

</robot>
